/* .main {
  padding-top: 10vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff;
  background: #000;
} */

.row {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.containerBtn {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
